<!DOCTYPE html>
<html lang="<%= I18n.locale %>" ng-app="TeamworkEngine">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Teamwork</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/teamwork/header' %>

    <div class="container-fluid container--fixed-navbar">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div ng-view>
            <%= yield %>
          </div>

          <!-- TODO: add footer -->
          <%#= render partial: 'layouts/footer' %>
        </div>
      </div>
    </div>

    <%= stylesheet_link_tag 'teamwork/application', media: 'all' %>
    <%= javascript_include_tag 'teamwork/application' %>

    <!--[if IE 9]>
      <%= javascript_include_tag 'html5shiv/dist/html5shiv', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'respond/dest/respond', 'data-turbolinks-track' => true %>
    <![endif]-->
  </body>
</html>
